11_ScPred_3D.pdf
10_soleboldo_tabib_combined2D.pdf
12_3Dpred_Tabib.pdf
13_3Dpred_SoleBoldo.pdf
14_soleboldo_tabib_combined3D.pdf
15_matrisome.pdf
16_Ganier.pdf
17_Ganier2.pdf
18_Ganier3.pdf
19_alldermal_celltypes.pdf
1_HDF_data.pdf
20_allskin_ganier.pdf
21_lungs.pdf
22_lungs.pdf
2_HDF_filtering_normalisation.pdf
3_HDF_2DCells.pdf
4_ScPred_2D.pdf
5_ScPred2D_Chan.pdf
6_ScPred2D_Chan_EPESDS.pdf
7_Teo.pdf
8_Tabib.pdf
9_soleboldo.pdf
Chan_seurat2.rds
HDF_Chan_combined_scPred.Rds
Sole_fibs2.rds
Tabib_fibs2.rds
custom_theme.rds
hdf_mda2D.rds
hdf_mda3D.rds
hdfseurat.rds
hdfseurat_filt.rds
hdfseurat_filt_3D.rds
querysole.rds
querysole3D.rds
querytabib.rds
querytabib3D.rds
